# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Environment
.env
.env.*

# Node
node_modules/

# Angular
dist/
.angular/
coverage/

# .NET
bin/
obj/

# User files
*.user
*.suo
